<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">
<title>Amazonia Spring Productos</title>

<main>
	<h1>Factura</h1>

	<p th:text="${factura}">Factura</p>

	<table>
		<thead>
			<tr>
				<th>Producto</th>
				<th>Precio unidad</th>
				<th>Cantidad</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="linea: ${factura.lineas}" th:object="${linea}">
				<td th:text="*{nombre}">Producto 1</td>
				<td th:text="*{#numbers.formatCurrency(precio)}">1234.12€</td>
				<td th:text="*{cantidad}">3</td>
				<td th:text="*{#numbers.formatCurrency(total)}">3456.12€</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3"></td>
				<td th:text="${#numbers.formatCurrency(factura.total)}">6789.45€</td>
			</tr>
			<tr>
				<td colspan="3"></td>
				<td>
					<a th:href="@{/factura}" href="factura.html">Facturar</a>
				</td>
			</tr>
		</tfoot>
	</table>

</main>