<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">
<title>Mensajes Ipartex</title>

<main class="container">
	<div class="list-group">
		<form th:action="@{/publicar}" method="post" action="index.html"
			class="list-group-item list-group-item-action">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">Usuario</h5>
			</div>
			<p class="mb-1">
				<textarea class="form-control" name="texto"></textarea>
			</p>
			<small>
				<button class="btn btn-primary">Enviar</button>
			</small>
		</form>
		<div th:each="mensaje: ${mensajes}" th:object="${mensaje}"
			class="list-group-item list-group-item-action">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1" th:text="*{usuario.nombre}">Usuario</h5>
				<small th:text="*{tiempoVidaTexto}">48m</small>
			</div>
			<p class="mb-1" th:text="*{texto}">Some placeholder content in a
				paragraph.</p>
			<!-- <small>And some small print.</small> -->
		</div>
	</div>
</main>